<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.us.mapper.ImagesExtendMapper">

	<!-- 根君id查找图片 -->
	<select id="findImagesExtendByPid" parameterType="int"
		resultType="com.us.po.ImagesExtend">

		SELECT * FROM us_images WHERE pid=#{pid}
	</select>
	
	<!-- 根君id查找图片 -->
	<select id="findImagesExtendById" parameterType="int"
		resultType="com.us.po.ImagesExtend">
		SELECT * FROM us_images WHERE imgid=#{imgid}
	</select>
  <!-- 插入图片 -->
	<insert id="insertImages" parameterType="com.us.po.ImagesExtend"
		useGeneratedKeys="true" keyProperty="imgid">
		INSERT INTO us_images
		(pid,url,us_images.comment)VALUES(#{pid},#{url},#{comment})
	</insert>

</mapper>
