<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.us.mapper.PraiseMapper">

	<insert id="insertPraise" parameterType="com.us.po.Praise">
		insert into
		us_praise(aid,uid,status
		)
		values(#{aid},#{uid},#{status}
		)
	</insert>

<select id="findPraiseByUidAndAid" parameterType="com.us.po.Praise" resultType="com.us.po.Praise">
select * from us_praise where us_praise.aid=#{aid} and us_praise.uid=#{uid}
</select>

<update id="updatePraiseByUidAndAid" parameterType="com.us.po.Praise">
update us_praise set us_praise.status=#{status} where us_praise.aid=#{aid} and us_praise.uid=#{uid}
</update>
</mapper>